
main{
    min-height: 100px;
}
nav a{
    text-decoration: none;
    color: black;
}
li{
    background-color: darkorange;
    
}
ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
}
/* img{
    display: block;
} */
.current{
    text-transform: uppercase;
    background-color: rgb(50, 255, 85);
}
.hype {
    height: 100px;
    background-image: url(img/ocean.jpg);
    opacity: 0.5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}