main{
    min-height: 100px;
}
nav a{
    text-decoration: none;
}
li{
    background-color: rgb(159, 255, 180);
}
ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
}
img{
    display: block;
}
.current{
    text-transform: uppercase;
    background-color: burlywood;
}